:root {
    --first-color: #00917e;
    --second-color: #006691;
    --third-color: #2d007a;
    --fourth-color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--first-color);
    background-color: var(--third-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* Start Header Style */
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../Photos/Background\ Image.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--first-color);
    text-shadow: 0, 0, 10px rgba(0, 0, 0, 0.5)
}

header a {
    text-decoration: none;
    color: var(--first-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2.0vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--second-color);
    color: var(--first-color);
    border-radius: 15px;
    text-shadow: none;
}

/* Header Navbar Styles End */

/* Section Title Styles Start */
.section-title {
    font-size: 48px;
    border-bottom: 3px solid;
    color: var(--first-color);
    padding-bottom: 20px;
    text-align: left;
    margin: 0, auto, 15px, auto;
    width: 50%;
}

.primary-boarder {
    border-color: var(--first-color);
    align-items: left;
}

/* About Me Section */
.about_me {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sarah_photo img {
    border-radius: 50%;
    float: left;
    margin: 2vw;
    width: 15vw;
    shape-outside: circle;
    border: .3vw solid var(--first-color);
}

/* About Me Section End */

/* My Work Start */

/* Project Blocks Start */
.first_project {
    width: 75%;
}

.other_projects {
    width: 25%;
}

.container {
   padding: 10px;
}

.block {
    width: -moz-fit-content;
    width: fit-content;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    display: relative;
    flex-wrap: wrap;
    background-image: url("../Photos/Background\ Image.jpg")
}

.block img:hover {
    opacity: 85%;
}

.block header {
    padding: 20px;
    font-size: 2vw;
    background-color: var(--third-color);
    background-image: none;
}

.block p {
    text-align: center;
    font-size: 2vw;
    margin: 1vw;
    background-image: none;
    background-color:var(--third-color);
    padding: 20px;
}

.block img {
    width: 100%;
}

/* My Work End */

/* Footer Start */
footer {
    background: var(--first-color);
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
footer h2 {
    color: var(--second-color);
    font-size: 30px;
    float: center;
    margin: 0;
}
footer div {
    line-height: 1.5;
    text-align: right;
}
footer a {
    color: var(--second-color)
}
/* End Footer Styles */

/* Media Query for Smaller Desktop Screens */

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .section-title {
        width: 80%;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
    }
}